[user]
    name = Adam Mesha
    email = adam@mesha.org
[color]
    ui = true
[merge]
    tool = meld
[branch]
    autosetuprebase = always
[push]
    default = upstream
[credential]
    helper = cache --timeout=3600
[diff]
    algorithm = patience
[alias]
    ci = commit
    co = checkout
    st = status
    br = branch
    ds = diff --staged
    vi = bisect visualize
    bi = bisect
    sco = "!sco() { git stash && git checkout $1 && git stash pop; }; sco"
    spull = "!git stash && git pull --rebase && git stash pop"
    kall = !gitk --all
