[user]
	name = Adam Mesha
	email = adam@mesha.org
[color]
	ui = true
[merge]
	tool = meld
[branch]
	autosetuprebase = always
[push]
	default = upstream
[credential]
	helper = cache --timeout=3600
[diff]
	algorithm = patience
[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	ds = diff --staged
	vi = bisect visualize
	bi = bisect
